@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  height: 100vh;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 0;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
}

p {
  font-weight: 300;
}

/* Add this CSS to your stylesheet for smooth transitions */
.TaskTile {
  transition: opacity 0.5s ease-in-out;
}

.TaskTile.invisible {
  opacity: 0;
}
